* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /* background: rgb(240, 226, 226); */
    overflow: hidden;
}

.noshow {
    display: none !important;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgb(15, 2, 2);
    
    color: #FFF;
    font-size: 20px;   
    
}

.navbar span {
    margin: 8px;
}

.navbar .logo {
    font-size: 30px;
}

.container {
    /* position: absolute; */
    display: flex;
    width: 100%;
    height: 100%;
    /* margin: 50px; */
    background: #FFF;
}

.container .list-note {
    
    display: block;
    
    width: 400px;
    height: 100%;
    
    border-right: 1px solid #DCDCDC ;
    

    overflow: auto;
}

.list-note .header {
    display: flex;
    width: 100%;
    height: 40px;

    font-size: 20px;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #DCDCDC ;
}

.header ul li {
    list-style: none;
    display: inline;
    margin: 6px;
    text-align: left;
    /* justify-content: space-between; */
}

.header .item-menu {
    width: 32px;
    height: 32px;
    /* background: blue; */
    padding: 8px;

    cursor: pointer;
}

.header .item-menu:hover {
    background: #EEE9E9;
}

.select {
    background: #EEE9E9;
}


.list-note .notes-row {
    display: block;
    /* width: 90%; */
    height: 50px;

    margin-top: 5px;
    margin: 5px;

    padding: 5px;

    border-radius: 5px;

    justify-content: start;
    align-items: center;

    cursor: pointer;
}

.list-note .notes-row:hover {
    background: #F0FFFF;
    box-shadow: 0.1em 0.1em 0.5em rgb(24, 24, 20);
}

.notes-row .title-note {
    display: block;
    margin-left: 5px;
    font-size: 16px;
    width: 100%;
}

.notes-row .date-note{
    /* text-align: right; */
    margin-left: 5px;
    font-size: 10px;
    color: rgb(167, 163, 163);

}

.container .preview {
    /* position: relative; */
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    /* margin: 5px; */
}

.preview .title-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #EEE9E9;

    padding: 5px;
    
    /* color: #FFF; */
    font-size: 20px;
    
}

.preview .new-note {
    display: flex;
}

.preview .view-note {
    width: 99%;
    height: 83%;
    
    margin: 10px;
    /* padding: 10px; */

    /* background: #fff; */
  
        
    overflow: auto;

}

.preview .edit-note {
    width: 99%;
    height: 83%;
    
    margin-left: 5px;
    /* padding: 10px; */

    /* background: #fff; */
  
        
    overflow: auto;

}

.edit-note textarea {
    width: 100%;
    height: 550px;

    border: none;
}